name: CI
on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, windows-2022, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: go test -gcflags=all=-d=checkptr -v ./...

  build:
    runs-on: 'windows-2019'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17.0'

      - run: go build ./pkg/etw/sample/
      - run: go build ./tools/etw-provider-gen/
      - run: go build ./wim/validate/